torch
transformers
sentence-transformers
accelerate
bitsandbytes

langchain
langchain-community
langchain-huggingface

qdrant-client
faiss-cpu
weaviate-client

bert-score
erag

pandas
numpy
scikit-learn
openpyxl
matplotlib
seaborn

Jupyter

